<footer class="site-footer">
  <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
</footer>
<script>
  (function () {
    var links = document.querySelectorAll('a[href]');
    for (var i = 0; i < links.length; i++) {
      var a = links[i];
      try {
        var url = new URL(a.href, location.href);
        if ((url.protocol === 'http:' || url.protocol === 'https:') && url.host !== location.host) {
          a.setAttribute('target', '_blank');
          var rel = (a.getAttribute('rel') || '').split(/\s+/).filter(Boolean);
          if (rel.indexOf('noopener') < 0) rel.push('noopener');
          if (rel.indexOf('noreferrer') < 0) rel.push('noreferrer');
          a.setAttribute('rel', rel.join(' '));
        }
      } catch (e) {}
    }
  })();
</script>
